@inject IFileReader fileReader
@using SpecialCharacters = FileChecker.Models.SpecialCharacters;
@inject HttpClient Http

<div class="row">
    <div class="col-md-6 mr-2 code-container">
        <h5>Original</h5>
        <hr>
        @if (!string.IsNullOrEmpty(content))
        {
            <code>
                @for (int i = 0; i < lines.Count; i++)
                {
                    <div>
                        <span class="col-sm-1 code-line-number">@(i + 1)</span>
                        <span class="col-sm-11 code-line">@lines[i]</span><br/>
                    </div>
                }
            </code>
        }
        else
        {
            Console.WriteLine("No content");
        }
    </div>
    <div class="col-md-6 analysis-block">
        <div>
            <h5>File Name</h5>
            <hr>
        </div>
        <div class="">
            <h6 class="pb-3">Your File Contains:</h6>
            <code class="compared">
                @foreach (KeyValuePair<string, List<int>> item in no_difference)
                {
                    <p class="small">
                        @item.Key
                        <span class="badge">
                            in Line(s)
                        @foreach (int line in item.Value)
                        {
                            <span class="px-2">@line</span>
                        }
                        </span>
                    </p>
                }
            </code>
        </div>
        <div class="mt-5">
            <h6 class="pb-3">Your File Doesn't Contain:</h6>
            <code class="not-contained">
               @foreach (KeyValuePair<string, List<int>> item in difference)
                {
                    <p class="small">
                        @item.Key
                        <span class="badge">
                            in Line(s)
                        @foreach (int line in item.Value)
                        {
                            <span class="px-2">@line</span>
                        }
                        </span>
                    </p>
                } 
            </code>
        </div>
    </div>
</div>
<div class="row mt-2">
    <button class="btn btn-info">
        <i class="bi bi-file-arrow-up"></i>
        Upload File
    </button>
</div>

@code {
    string content = string.Empty;
    string reference = string.Empty;

    SpecialCharacters special_characters = new SpecialCharacters();

    List<string> lines = new List<string>();

    Dictionary<string, List<int>> difference = new Dictionary<string, List<int>>();
    Dictionary<string, List<int>> no_difference = new Dictionary<string, List<int>>();

    protected override async Task OnInitializedAsync()
    {
        content = await Http.GetStringAsync("sample-data/weather.json");
        reference = await Http.GetStringAsync("sample-data/reference.json");

        special_characters = await Http.GetFromJsonAsync<SpecialCharacters>("special-json/special_chars.json");

        lines = fileReader.ReadFileLineByLine(content);

        (no_difference, difference) = fileReader.CompareFileLineByLine(lines, reference, special_characters);
    }
}